<%- title "Editing #{@part.part_number}" %>

<%= render(BaseButtonComponent.new(path: admin_part_path(@part))) do %>
  &larr; Back
<% end %>
<h1>Editing <%= @part.part_number %></h1>
<%= render(PartEditorComponent.new(user: current_user, part: @part)) %>