<%= title 'Parts' %>

<div class="my-6">
  <%= render(BaseButtonComponent.new(path: new_admin_part_path, style: :primary)) do %>
    New
  <% end %>
</div>
<h1>Parts</h1>
<%= render(PartsViewerComponent.new(parts: @parts, admin: true)) %>