<%- title "Creating part" %>

<div class="my-6">
  <%= render(BaseButtonComponent.new(path: admin_parts_path)) do %>
    &larr; Back
  <% end %>
</div>
<h1>Creating part</h1>
<%= render(PartEditorComponent.new(user: current_user, part: @part)) %>