<%- title "Creating part" %>

<%= render(ButtonRowComponent.new) do %>
  <%= render(BaseButtonComponent.new(path: admin_parts_path)) do %>
    &larr; Back
  <% end %>
<% end %>
<h1>Creating part</h1>
<%= render(PartEditorComponent.new(user: current_user, part: @part)) %>