<%- title "Creating part" %>

<%= render(BaseButtonComponent.new(path: admin_parts_path)) do %>
  &larr; Back
<% end %>
<h1>Creating part</h1>
<%= render(PartEditorComponent.new(user: current_user, part: @part)) %>